Task 1 PPT: https://docs.google.com/presentation/d/1MsScB-S_SQAD_yFbfNIIDWgwRGhxq0cc/edit?usp=drive_link&ouid=107483968726214766027&rtpof=true&sd=true

Task 2: Clean csv raw log data

In [ ]:
import pandas as pd

raw_data = {
    'name': [' Shreya', 'Suhas', 'shreyas', 'Swetha', 'Suhas', None],
    'age': [25, 26, None, 24, 26, 23],
    'location': [' Hyderabad ', 'Noida', 'Gurugram', None, 'Noida', ' Mumbai ']
}

raw_df = pd.DataFrame(raw_data)

# save raw logs
raw_df.to_csv("raw_logs.csv", index=False)
print("Raw log file created")

Raw log file created

In [ ]:
df = pd.read_csv("raw_logs.csv")
print(df)

      name   age     location
0   Shreya  25.0   Hyderabad
1    Suhas  26.0        Noida
2  shreyas   NaN     Gurugram
3   Swetha  24.0          NaN
4    Suhas  26.0        Noida
5      NaN  23.0      Mumbai

In [ ]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      object
 1   age       5 non-null      float64
 2   location  5 non-null      object
dtypes: float64(1), object(2)
memory usage: 276.0+ bytes
None
name        1
age         1
location    1
dtype: int64

In [ ]:
# remove duplicates
df = df.drop_duplicates()

# handle missing values
df['age'] = df['age'].fillna(df['age'].mean())
df['name'] = df['name'].fillna('unknown')
df['location'] = df['location'].fillna('unknown')

# clean text
df['name'] = df['name'].str.strip().str.lower()
df['location'] = df['location'].str.strip().str.lower()

# fix datatype
df['age'] = df['age'].astype(int)

In [ ]:
df.to_csv("cleaned_raw_logs.csv", index=False)
print("Cleaned raw logs saved successfully")

Cleaned raw logs saved successfully

In [ ]:
import pandas as pd

df = pd.read_csv("cleaned_raw_logs.csv")
print(df)

      name  age   location
0   shreya   25  hyderabad
1    suhas   26      noida
2  shreyas   24   gurugram
3   swetha   24    unknown
4  unknown   23     mumbai