In [27]:
from google.colab import files
files.upload()

Saving Employee_Salary_Dataset.csv to Employee_Salary_Dataset (1).csv

{'Employee_Salary_Dataset (1).csv': b'ID,Experience_Years,Age,Gender,Salary\r\n1,5,28,Female,250000\r\n2,1,21,Male,50000\r\n3,3,23,Female,170000\r\n4,2,22,Male,25000\r\n5,1,17,Male,10000\r\n6,25,62,Male,5001000\r\n7,19,54,Female,800000\r\n8,2,21,Female,9000\r\n9,10,36,Female,61500\r\n10,15,54,Female,650000\r\n11,4,26,Female,250000\r\n12,6,29,Male,1400000\r\n13,14,39,Male,6000050\r\n14,11,40,Male,220100\r\n15,2,23,Male,7500\r\n16,4,27,Female,87000\r\n17,10,34,Female,930000\r\n18,15,54,Female,7900000\r\n19,2,21,Male,15000\r\n20,10,36,Male,330000\r\n21,15,54,Male,6570000\r\n22,4,26,Male,25000\r\n23,5,29,Male,6845000\r\n24,1,21,Female,6000\r\n25,4,23,Female,8900\r\n26,3,22,Female,20000\r\n27,1,18,Male,3000\r\n28,27,62,Female,10000000\r\n29,19,54,Female,5000000\r\n30,2,21,Female,6100\r\n31,10,34,Male,80000\r\n32,15,54,Male,900000\r\n33,20,55,Female,1540000\r\n34,19,53,Female,9300000\r\n35,16,49,Male,7600000\r\n'}

Task 01: Read CSV & filter high-salary employees

In [28]:
import pandas as pd
df = pd.read_csv("Employee_Salary_Dataset.csv")

In [4]:
df

    ID  Experience_Years  Age  Gender    Salary
0    1                 5   28  Female    250000
1    2                 1   21    Male     50000
2    3                 3   23  Female    170000
3    4                 2   22    Male     25000
4    5                 1   17    Male     10000
5    6                25   62    Male   5001000
6    7                19   54  Female    800000
7    8                 2   21  Female      9000
8    9                10   36  Female     61500
9   10                15   54  Female    650000
10  11                 4   26  Female    250000
11  12                 6   29    Male   1400000
12  13                14   39    Male   6000050
13  14                11   40    Male    220100
14  15                 2   23    Male      7500
15  16                 4   27  Female     87000
16  17                10   34  Female    930000
17  18                15   54  Female   7900000
18  19                 2   21    Male     15000
19  20                10   36    Male    330000
20  21                15   54    Male   6570000
21  22                 4   26    Male     25000
22  23                 5   29    Male   6845000
23  24                 1   21  Female      6000
24  25                 4   23  Female      8900
25  26                 3   22  Female     20000
26  27                 1   18    Male      3000
27  28                27   62  Female  10000000
28  29                19   54  Female   5000000
29  30                 2   21  Female      6100
30  31                10   34    Male     80000
31  32                15   54    Male    900000
32  33                20   55  Female   1540000
33  34                19   53  Female   9300000
34  35                16   49    Male   7600000

In [29]:
salary_threshold=70000
highest_sal=df[df['Salary']>salary_threshold]
print(highest_sal)

    ID  Experience_Years  Age  Gender    Salary
0    1                 5   28  Female    250000
2    3                 3   23  Female    170000
5    6                25   62    Male   5001000
6    7                19   54  Female    800000
9   10                15   54  Female    650000
10  11                 4   26  Female    250000
11  12                 6   29    Male   1400000
12  13                14   39    Male   6000050
13  14                11   40    Male    220100
15  16                 4   27  Female     87000
16  17                10   34  Female    930000
17  18                15   54  Female   7900000
19  20                10   36    Male    330000
20  21                15   54    Male   6570000
22  23                 5   29    Male   6845000
27  28                27   62  Female  10000000
28  29                19   54  Female   5000000
30  31                10   34    Male     80000
31  32                15   54    Male    900000
32  33                20   55  Female   1540000
33  34                19   53  Female   9300000
34  35                16   49    Male   7600000

In [30]:
highest_sal.to_csv("high_sal_employee.csv",index=False)
df1=pd.read_csv("high_sal_employee.csv")
df1

    ID  Experience_Years  Age  Gender    Salary
0    1                 5   28  Female    250000
1    3                 3   23  Female    170000
2    6                25   62    Male   5001000
3    7                19   54  Female    800000
4   10                15   54  Female    650000
5   11                 4   26  Female    250000
6   12                 6   29    Male   1400000
7   13                14   39    Male   6000050
8   14                11   40    Male    220100
9   16                 4   27  Female     87000
10  17                10   34  Female    930000
11  18                15   54  Female   7900000
12  20                10   36    Male    330000
13  21                15   54    Male   6570000
14  23                 5   29    Male   6845000
15  28                27   62  Female  10000000
16  29                19   54  Female   5000000
17  31                10   34    Male     80000
18  32                15   54    Male    900000
19  33                20   55  Female   1540000
20  34                19   53  Female   9300000
21  35                16   49    Male   7600000

Task 02: Count number of errors & store error lines separately

In [32]:
# Identify error rows
error_rows = df[(df["Salary"] <= 0) | (df["Salary"].isna())]

# Count errors
error_count = len(error_rows)

print("Number of error records:", error_count)
error_rows

Number of error records: 0

Empty DataFrame
Columns: [ID, Experience_Years, Age, Gender, Salary]
Index: []

In [8]:
error_rows.to_csv("error_records.csv", index=False)

Task 03: Generate daily report automatically

In [33]:
report = {
    "Total_Employees": len(df),
    "High_Salary_Employees": len(highest_sal),
    "Error_Records": error_count
}

daily_report = pd.DataFrame([report])
print("Daily report:")
daily_report

Daily report:

   Total_Employees  High_Salary_Employees  Error_Records
0               35                     22              0

mini hands on questions

1. handle the zero division error with different examples at the execution time

In [5]:
try:
    a = 10
    b = 0
    result = a / b
    print(result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero")

Error: Cannot divide by zero

In [4]:
try:
    num1 = int(input("Enter numerator: "))
    num2 = int(input("Enter denominator: "))
    print(num1 / num2)
except ZeroDivisionError:
    print("Denominator cannot be zero")

Enter numerator: 50
Enter denominator: 0
Denominator cannot be zero

2. handle the type error

In [6]:
try:
    x = 10
    y = "5"
    print(x + y)
except TypeError:
    print("Error: Cannot add int and string")

Error: Cannot add int and string

In [7]:
def square(n):
    return n * n

try:
    square("hello")
except TypeError:
    print(" Error: Invalid data type passed to function")

 Error: Invalid data type passed to function

3. handle the attribute error

In [9]:
try:
    name = "Python"
    name.append("3")
except AttributeError:
    print(" Error: String object has no attribute 'append'")

 Error: String object has no attribute 'append'

In [10]:
try:
    num = 10
    num.upper()
except AttributeError:
    print(" Error: Integer has no attribute 'upper'")

 Error: Integer has no attribute 'upper'

4. validate user input(age,salary)

In [11]:
try:
    age = int(input("Enter age: "))
    salary = float(input("Enter salary: "))

    if age < 18:
        raise ValueError("Age must be 18 or above")

    if salary <= 0:
        raise ValueError("Salary must be positive")

    print(" Valid input")
except ValueError as e:
    print("Input Error:", e)

Enter age: 50
Enter salary: 50000
 Valid input

5. create a custom exception rules for the atm withdrawal

In [12]:
class ATMError(Exception):
    pass

In [13]:
def withdraw(balance, amount):
    if amount % 100 != 0:
        raise ATMError("Amount must be in multiples of 100")

    if amount > balance:
        raise ATMError("Insufficient balance")

    if balance - amount < 1000:
        raise ATMError("Minimum balance of 1000 must be maintained")

    return balance - amount

In [14]:
try:
    balance = 5000
    amount = int(input("Enter withdrawal amount: "))
    balance = withdraw(balance, amount)
    print(" Withdrawal successful")
    print("Remaining balance:", balance)
except ATMError as e:
    print("ATM Error:", e)

Enter withdrawal amount: 5000
ATM Error: Minimum balance of 1000 must be maintained

project 1: student record management

In [15]:
FILENAME = "student.txt"

def add_student():
    with open(FILENAME, "a") as file:
        sid = input("Enter Student ID: ")
        name = input("Enter Student Name: ")
        age = input("Enter Age: ")
        course = input("Enter Course: ")

        file.write(f"{sid},{name},{age},{course}\n")
        print("Student record added successfully")

def view_students():
    try:
        with open(FILENAME, "r") as file:
            records = file.readlines()
            if not records:
                print("No student records found")
                return

            print("\nStudent Records:")
            for record in records:
                sid, name, age, course = record.strip().split(",")
                print(f"ID: {sid}, Name: {name}, Age: {age}, Course: {course}")
    except FileNotFoundError:
        print("File not found")

def search_student():
    search_id = input("Enter Student ID to search: ")
    found = False

    try:
        with open(FILENAME, "r") as file:
            for record in file:
                sid, name, age, course = record.strip().split(",")
                if sid == search_id:
                    print("\nStudent Found:")
                    print(f"ID: {sid}")
                    print(f"Name: {name}")
                    print(f"Age: {age}")
                    print(f"Course: {course}")
                    found = True
                    break

        if not found:
            print("Student not found")
    except FileNotFoundError:
        print("File not found")

def main():
    while True:
        print("\n--- Student Record Management ---")
        print("1. Add Student")
        print("2. View Students")
        print("3. Search Student")
        print("4. Exit")

        choice = input("Enter your choice: ")

        if choice == "1":
            add_student()
        elif choice == "2":
            view_students()
        elif choice == "3":
            search_student()
        elif choice == "4":
            print("Exiting program")
            break
        else:
            print("Invalid choice")

main()

--- Student Record Management ---
1. Add Student
2. View Students
3. Search Student
4. Exit
Enter your choice: 1
Enter Student ID: 101
Enter Student Name: alex
Enter Age: 20
Enter Course: aiml
Student record added successfully

--- Student Record Management ---
1. Add Student
2. View Students
3. Search Student
4. Exit
Enter your choice: 1
Enter Student ID: 102
Enter Student Name: bob
Enter Age: 20
Enter Course: aiml
Student record added successfully

--- Student Record Management ---
1. Add Student
2. View Students
3. Search Student
4. Exit
Enter your choice: 2

Student Records:
ID: 101, Name: alex, Age: 20, Course: aiml
ID: 102, Name: bob, Age: 20, Course: aiml

--- Student Record Management ---
1. Add Student
2. View Students
3. Search Student
4. Exit
Enter your choice: 3
Enter Student ID to search: 102

Student Found:
ID: 102
Name: bob
Age: 20
Course: aiml

--- Student Record Management ---
1. Add Student
2. View Students
3. Search Student
4. Exit
Enter your choice: 4
Exiting program

project 2: word counter tool

In [17]:
with open("summary.txt", "w") as file:
    file.write("Python is easy to learn\n")
    file.write("File handling is important\n")
    file.write("Exception handling makes code safe\n")

print("summary.txt file created")

summary.txt file created

In [18]:
FILENAME = "summary.txt"

def word_counter():
    try:
        with open(FILENAME, "r") as file:
            lines = file.readlines()

            line_count = len(lines)
            word_count = 0
            char_count = 0

            for line in lines:
                word_count += len(line.split())
                char_count += len(line)

            print("Lines:", line_count)
            print("Words:", word_count)
            print("Characters:", char_count)

    except FileNotFoundError:
        print("Error: File not found")
    except PermissionError:
        print("Error: Permission denied while accessing file")
    except Exception as e:
        print("Unexpected error:", e)

word_counter()

Lines: 3
Words: 14
Characters: 86

project 3: employee salary analyzer(csv)

In [22]:
from google.colab import files
files.upload()

Saving Employee_Salary_Dataset.csv to Employee_Salary_Dataset.csv

{'Employee_Salary_Dataset.csv': b'ID,Experience_Years,Age,Gender,Salary\r\n1,5,28,Female,250000\r\n2,1,21,Male,50000\r\n3,3,23,Female,170000\r\n4,2,22,Male,25000\r\n5,1,17,Male,10000\r\n6,25,62,Male,5001000\r\n7,19,54,Female,800000\r\n8,2,21,Female,9000\r\n9,10,36,Female,61500\r\n10,15,54,Female,650000\r\n11,4,26,Female,250000\r\n12,6,29,Male,1400000\r\n13,14,39,Male,6000050\r\n14,11,40,Male,220100\r\n15,2,23,Male,7500\r\n16,4,27,Female,87000\r\n17,10,34,Female,930000\r\n18,15,54,Female,7900000\r\n19,2,21,Male,15000\r\n20,10,36,Male,330000\r\n21,15,54,Male,6570000\r\n22,4,26,Male,25000\r\n23,5,29,Male,6845000\r\n24,1,21,Female,6000\r\n25,4,23,Female,8900\r\n26,3,22,Female,20000\r\n27,1,18,Male,3000\r\n28,27,62,Female,10000000\r\n29,19,54,Female,5000000\r\n30,2,21,Female,6100\r\n31,10,34,Male,80000\r\n32,15,54,Male,900000\r\n33,20,55,Female,1540000\r\n34,19,53,Female,9300000\r\n35,16,49,Male,7600000\r\n'}

In [23]:
import csv

FILENAME = "Employee_Salary_Dataset.csv"

def analyze_salary():
    try:
        salaries = []

        with open(FILENAME, "r") as file:
            reader = csv.DictReader(file)

            for row in reader:
                salaries.append(float(row["Salary"]))

        if not salaries:
            print("No salary data found")
            return

        highest = max(salaries)
        lowest = min(salaries)
        average = sum(salaries) / len(salaries)

        print("Highest Salary:", highest)
        print("Lowest Salary:", lowest)
        print("Average Salary:", round(average, 2))

    except FileNotFoundError:
        print("Error: employee.csv file not found")
    except ValueError:
        print("Error: Salary column contains invalid data")
    except Exception as e:
        print("Unexpected error:", e)

analyze_salary()

Highest Salary: 10000000.0
Lowest Salary: 3000.0
Average Salary: 2059147.14

project 4: Atm simulation

In [24]:
class ATMError(Exception):
    pass


class ATM:
    def __init__(self, name, balance=5000):
        self.name = name
        self.balance = balance

    def check_balance(self):
        print("Current Balance:", self.balance)

    def deposit(self, amount):
        if amount <= 0:
            raise ATMError("Deposit amount must be positive")
        self.balance += amount
        print("Amount deposited successfully")

    def withdraw(self, amount):
        if amount <= 0:
            raise ATMError("Withdrawal amount must be positive")

        if amount % 100 != 0:
            raise ATMError("Amount must be in multiples of 100")

        if amount > self.balance:
            raise ATMError("Insufficient balance")

        if self.balance - amount < 1000:
            raise ATMError("Minimum balance of 1000 must be maintained")

        self.balance -= amount
        print("Please collect your cash")

def main():
    atm = ATM("User")

    while True:
        print("\n--- ATM MENU ---")
        print("1. Check Balance")
        print("2. Deposit")
        print("3. Withdraw")
        print("4. Exit")

        choice = input("Enter your choice: ")

        try:
            if choice == "1":
                atm.check_balance()

            elif choice == "2":
                amount = float(input("Enter deposit amount: "))
                atm.deposit(amount)

            elif choice == "3":
                amount = float(input("Enter withdrawal amount: "))
                atm.withdraw(amount)

            elif choice == "4":
                print("Thank you for using ATM")
                break

            else:
                print("Invalid choice")

        except ATMError as e:
            print("ATM Error:", e)

        except ValueError:
            print("Invalid input. Enter numeric value only")

main()

--- ATM MENU ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 2
Enter deposit amount: 5000
Amount deposited successfully

--- ATM MENU ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 1
Current Balance: 10000.0

--- ATM MENU ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 3
Enter withdrawal amount: 500
Please collect your cash

--- ATM MENU ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 1
Current Balance: 9500.0

--- ATM MENU ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 4
Thank you for using ATM

project 5: user login systems

In [25]:
FILENAME = "user.txt"

def register_user():
    try:
        username = input("Enter new username: ")
        password = input("Enter new password: ")

        with open(FILENAME, "a") as file:
            file.write(f"{username},{password}\n")

        print("User registered successfully")

    except Exception as e:
        print("Error during registration:", e)


def login_user():
    try:
        username = input("Enter username: ")
        password = input("Enter password: ")

        found = False

        with open(FILENAME, "r") as file:
            for line in file:
                saved_user, saved_pass = line.strip().split(",")

                if username == saved_user and password == saved_pass:
                    found = True
                    break

        if found:
            print("Login successful")
        else:
            print("Invalid username or password")

    except FileNotFoundError:
        print("Error: user.txt file not found")
    except ValueError:
        print("Error: Invalid file format")
    except Exception as e:
        print("Unexpected error:", e)


def main():
    while True:
        print("\n--- USER LOGIN SYSTEM ---")
        print("1. Register")
        print("2. Login")
        print("3. Exit")

        choice = input("Enter your choice: ")

        if choice == "1":
            register_user()
        elif choice == "2":
            login_user()
        elif choice == "3":
            print("Exiting program")
            break
        else:
            print("Invalid choice")

main()

--- USER LOGIN SYSTEM ---
1. Register
2. Login
3. Exit
Enter your choice: 1
Enter new username: admin
Enter new password: admin123
User registered successfully

--- USER LOGIN SYSTEM ---
1. Register
2. Login
3. Exit
Enter your choice: 1
Enter new username: alex
Enter new password: alex123
User registered successfully

--- USER LOGIN SYSTEM ---
1. Register
2. Login
3. Exit
Enter your choice: 2
Enter username: admin
Enter password: 123
Invalid username or password

--- USER LOGIN SYSTEM ---
1. Register
2. Login
3. Exit
Enter your choice: 2
Enter username: alex
Enter password: alex123
Login successful

--- USER LOGIN SYSTEM ---
1. Register
2. Login
3. Exit
Enter your choice: 3
Exiting program