data cleaning:

it is the process of identifying and removing any missing,duplicate or irrelevant data

missing value/null values

duplicates

wrong data

wrong format

data cleaning is very important in exploratory data analysiss because to take right actions which we get from
the insights of the data

benefits of data cleaning:
- error free
- data quality
- accuracy & efficient
- maintain data consistency

1.Handling missing values:

we needd to remove missing values to avoid the erros

#check missing values
df.isnull().sum()

#drop missing values
df.dropna()

#drop specific column
df.dropna(subset=["Age"])

#fill missing values
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["city"].fillna(df["city"].mode(),inplace=True)
df["salary"].fillna(df["salary"].median(),inplace=True)

2.Remove duplicates
remove the repeated rows

#to remove duplicates
df.drop_duplicates(inplace=True)

#to check duplicates
df.duplicated().sum()

3.wrong data
irrelevant information
example age=250(wrong data)

df[df["Age"]>=100

4.data type correction
df.dtypes

df["Age"]=df["Age"].astype(int)

5.wrong format
ex:joining data

df["joining_date"]=pd.to_datetime(df["joining_date"])

df["gender"]=df["gender"].str.lower()

In [2]:
import numpy as np
import pandas as pd

data={
    "customer_id":[101,102,103,103,104,105],
    "Name":["swathi","keerthana","supriya","supriya","Ajay","Manikanta"],
    "Age":[27,None,22,22,29,32],
    "salary":[50000,None,45000,45000,-15000,-25000],
    "Gender":["Female","Female","F","F","M","M"],
    "city":["Hyderabad","Banglore",None,None,"Indore","Noida"],
    "Purchase":[5000,2000,3000,3000,3500,3800],
    "Joining_date":["2021-05-10","2022-01-01","2023-03-15","2023-03-15","2020-07-20","2022-08-27"]
}

In [3]:
df=pd.DataFrame(data)

In [4]:
df

,customer_id,Name,Age,salary,Gender,city,Purchase,Joining_date
0,101,swathi,27.0,50000.0,Female,Hyderabad,5000,2021-05-10
1,102,keerthana,NaN,NaN,Female,Banglore,2000,2022-01-01
2,103,supriya,22.0,45000.0,F,None,3000,2023-03-15
3,103,supriya,22.0,45000.0,F,None,3000,2023-03-15
4,104,Ajay,29.0,-15000.0,M,Indore,3500,2020-07-20
5,105,Manikanta,32.0,-25000.0,M,Noida,3800,2022-08-27

In [5]:
df['Gender']=df['Gender'].str.lower()

In [6]:
df['Gender']=df['Gender'].replace({
    "m":"male",
    "f":"female"
})

In [7]:
df

,customer_id,Name,Age,salary,Gender,city,Purchase,Joining_date
0,101,swathi,27.0,50000.0,female,Hyderabad,5000,2021-05-10
1,102,keerthana,NaN,NaN,female,Banglore,2000,2022-01-01
2,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
3,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
4,104,Ajay,29.0,-15000.0,male,Indore,3500,2020-07-20
5,105,Manikanta,32.0,-25000.0,male,Noida,3800,2022-08-27

In [8]:
df["Name"]=df["Name"].str.lower()

In [9]:
x=df["Age"].mean()

In [10]:
x

np.float64(26.4)

In [11]:
df["Age"].fillna(26.4,inplace=True)

/tmp/ipython-input-3012383902.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(26.4,inplace=True)

In [12]:
df

,customer_id,Name,Age,salary,Gender,city,Purchase,Joining_date
0,101,swathi,27.0,50000.0,female,Hyderabad,5000,2021-05-10
1,102,keerthana,26.4,NaN,female,Banglore,2000,2022-01-01
2,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
3,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
4,104,ajay,29.0,-15000.0,male,Indore,3500,2020-07-20
5,105,manikanta,32.0,-25000.0,male,Noida,3800,2022-08-27

In [13]:
df['salary']=df['salary'].abs()

In [14]:
df

,customer_id,Name,Age,salary,Gender,city,Purchase,Joining_date
0,101,swathi,27.0,50000.0,female,Hyderabad,5000,2021-05-10
1,102,keerthana,26.4,NaN,female,Banglore,2000,2022-01-01
2,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
3,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
4,104,ajay,29.0,15000.0,male,Indore,3500,2020-07-20
5,105,manikanta,32.0,25000.0,male,Noida,3800,2022-08-27

In [15]:
df["salary"].fillna(df["salary"].median(),inplace=True)

/tmp/ipython-input-1292579236.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["salary"].fillna(df["salary"].median(),inplace=True)

In [16]:
df

,customer_id,Name,Age,salary,Gender,city,Purchase,Joining_date
0,101,swathi,27.0,50000.0,female,Hyderabad,5000,2021-05-10
1,102,keerthana,26.4,45000.0,female,Banglore,2000,2022-01-01
2,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
3,103,supriya,22.0,45000.0,female,None,3000,2023-03-15
4,104,ajay,29.0,15000.0,male,Indore,3500,2020-07-20
5,105,manikanta,32.0,25000.0,male,Noida,3800,2022-08-27

In [17]:
x=df['city'].mode()[0]

In [18]:
x

'Banglore'

In [19]:
df['city'].fillna(x,inplace=True)

/tmp/ipython-input-536558602.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['city'].fillna(x,inplace=True)

In [20]:
df

,customer_id,Name,Age,salary,Gender,city,Purchase,Joining_date
0,101,swathi,27.0,50000.0,female,Hyderabad,5000,2021-05-10
1,102,keerthana,26.4,45000.0,female,Banglore,2000,2022-01-01
2,103,supriya,22.0,45000.0,female,Banglore,3000,2023-03-15
3,103,supriya,22.0,45000.0,female,Banglore,3000,2023-03-15
4,104,ajay,29.0,15000.0,male,Indore,3500,2020-07-20
5,105,manikanta,32.0,25000.0,male,Noida,3800,2022-08-27

In [21]:
df["Joining_date"]=pd.to_datetime(df["Joining_date"])

In [22]:
df["join_month"]=df["Joining_date"].dt.month_name()

In [23]:
df["join_month"]

0        May
1    January
2      March
3      March
4       July
5     August
Name: join_month, dtype: object

In [24]:
df["join_day"]=df["Joining_date"].dt.day_name()

In [25]:
df["join_day"]

0       Monday
1     Saturday
2    Wednesday
3    Wednesday
4       Monday
5     Saturday
Name: join_day, dtype: object

# After cleaning your dataframe (example: df_cleaned)

df_cleaned.to_csv("cleaned_data.csv", index=False)

from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df["species"] = iris.target

df.head()

In [26]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df["species"] = iris.target

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [27]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [29]:
df.shape

(150, 5)

In [30]:
df.size

750

In [31]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

In [32]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [33]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [34]:
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
species                int64
dtype: object

In [35]:
df.keys()

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

In [36]:
df.values

array([[5.1, 3.5, 1.4, 0.2, 0. ],
       [4.9, 3. , 1.4, 0.2, 0. ],
       [4.7, 3.2, 1.3, 0.2, 0. ],
       [4.6, 3.1, 1.5, 0.2, 0. ],
       [5. , 3.6, 1.4, 0.2, 0. ],
       [5.4, 3.9, 1.7, 0.4, 0. ],
       [4.6, 3.4, 1.4, 0.3, 0. ],
       [5. , 3.4, 1.5, 0.2, 0. ],
       [4.4, 2.9, 1.4, 0.2, 0. ],
       [4.9, 3.1, 1.5, 0.1, 0. ],
       [5.4, 3.7, 1.5, 0.2, 0. ],
       [4.8, 3.4, 1.6, 0.2, 0. ],
       [4.8, 3. , 1.4, 0.1, 0. ],
       [4.3, 3. , 1.1, 0.1, 0. ],
       [5.8, 4. , 1.2, 0.2, 0. ],
       [5.7, 4.4, 1.5, 0.4, 0. ],
       [5.4, 3.9, 1.3, 0.4, 0. ],
       [5.1, 3.5, 1.4, 0.3, 0. ],
       [5.7, 3.8, 1.7, 0.3, 0. ],
       [5.1, 3.8, 1.5, 0.3, 0. ],
       [5.4, 3.4, 1.7, 0.2, 0. ],
       [5.1, 3.7, 1.5, 0.4, 0. ],
       [4.6, 3.6, 1. , 0.2, 0. ],
       [5.1, 3.3, 1.7, 0.5, 0. ],
       [4.8, 3.4, 1.9, 0.2, 0. ],
       [5. , 3. , 1.6, 0.2, 0. ],
       [5. , 3.4, 1.6, 0.4, 0. ],
       [5.2, 3.5, 1.5, 0.2, 0. ],
       [5.2, 3.4, 1.4, 0.2, 0. ],
       [4.7, 3.2, 1.6, 0.2, 0. ],
       [4.8, 3.1, 1.6, 0.2, 0. ],
       [5.4, 3.4, 1.5, 0.4, 0. ],
       [5.2, 4.1, 1.5, 0.1, 0. ],
       [5.5, 4.2, 1.4, 0.2, 0. ],
       [4.9, 3.1, 1.5, 0.2, 0. ],
       [5. , 3.2, 1.2, 0.2, 0. ],
       [5.5, 3.5, 1.3, 0.2, 0. ],
       [4.9, 3.6, 1.4, 0.1, 0. ],
       [4.4, 3. , 1.3, 0.2, 0. ],
       [5.1, 3.4, 1.5, 0.2, 0. ],
       [5. , 3.5, 1.3, 0.3, 0. ],
       [4.5, 2.3, 1.3, 0.3, 0. ],
       [4.4, 3.2, 1.3, 0.2, 0. ],
       [5. , 3.5, 1.6, 0.6, 0. ],
       [5.1, 3.8, 1.9, 0.4, 0. ],
       [4.8, 3. , 1.4, 0.3, 0. ],
       [5.1, 3.8, 1.6, 0.2, 0. ],
       [4.6, 3.2, 1.4, 0.2, 0. ],
       [5.3, 3.7, 1.5, 0.2, 0. ],
       [5. , 3.3, 1.4, 0.2, 0. ],
       [7. , 3.2, 4.7, 1.4, 1. ],
       [6.4, 3.2, 4.5, 1.5, 1. ],
       [6.9, 3.1, 4.9, 1.5, 1. ],
       [5.5, 2.3, 4. , 1.3, 1. ],
       [6.5, 2.8, 4.6, 1.5, 1. ],
       [5.7, 2.8, 4.5, 1.3, 1. ],
       [6.3, 3.3, 4.7, 1.6, 1. ],
       [4.9, 2.4, 3.3, 1. , 1. ],
       [6.6, 2.9, 4.6, 1.3, 1. ],
       [5.2, 2.7, 3.9, 1.4, 1. ],
       [5. , 2. , 3.5, 1. , 1. ],
       [5.9, 3. , 4.2, 1.5, 1. ],
       [6. , 2.2, 4. , 1. , 1. ],
       [6.1, 2.9, 4.7, 1.4, 1. ],
       [5.6, 2.9, 3.6, 1.3, 1. ],
       [6.7, 3.1, 4.4, 1.4, 1. ],
       [5.6, 3. , 4.5, 1.5, 1. ],
       [5.8, 2.7, 4.1, 1. , 1. ],
       [6.2, 2.2, 4.5, 1.5, 1. ],
       [5.6, 2.5, 3.9, 1.1, 1. ],
       [5.9, 3.2, 4.8, 1.8, 1. ],
       [6.1, 2.8, 4. , 1.3, 1. ],
       [6.3, 2.5, 4.9, 1.5, 1. ],
       [6.1, 2.8, 4.7, 1.2, 1. ],
       [6.4, 2.9, 4.3, 1.3, 1. ],
       [6.6, 3. , 4.4, 1.4, 1. ],
       [6.8, 2.8, 4.8, 1.4, 1. ],
       [6.7, 3. , 5. , 1.7, 1. ],
       [6. , 2.9, 4.5, 1.5, 1. ],
       [5.7, 2.6, 3.5, 1. , 1. ],
       [5.5, 2.4, 3.8, 1.1, 1. ],
       [5.5, 2.4, 3.7, 1. , 1. ],
       [5.8, 2.7, 3.9, 1.2, 1. ],
       [6. , 2.7, 5.1, 1.6, 1. ],
       [5.4, 3. , 4.5, 1.5, 1. ],
       [6. , 3.4, 4.5, 1.6, 1. ],
       [6.7, 3.1, 4.7, 1.5, 1. ],
       [6.3, 2.3, 4.4, 1.3, 1. ],
       [5.6, 3. , 4.1, 1.3, 1. ],
       [5.5, 2.5, 4. , 1.3, 1. ],
       [5.5, 2.6, 4.4, 1.2, 1. ],
       [6.1, 3. , 4.6, 1.4, 1. ],
       [5.8, 2.6, 4. , 1.2, 1. ],
       [5. , 2.3, 3.3, 1. , 1. ],
       [5.6, 2.7, 4.2, 1.3, 1. ],
       [5.7, 3. , 4.2, 1.2, 1. ],
       [5.7, 2.9, 4.2, 1.3, 1. ],
       [6.2, 2.9, 4.3, 1.3, 1. ],
       [5.1, 2.5, 3. , 1.1, 1. ],
       [5.7, 2.8, 4.1, 1.3, 1. ],
       [6.3, 3.3, 6. , 2.5, 2. ],
       [5.8, 2.7, 5.1, 1.9, 2. ],
       [7.1, 3. , 5.9, 2.1, 2. ],
       [6.3, 2.9, 5.6, 1.8, 2. ],
       [6.5, 3. , 5.8, 2.2, 2. ],
       [7.6, 3. , 6.6, 2.1, 2. ],
       [4.9, 2.5, 4.5, 1.7, 2. ],
       [7.3, 2.9, 6.3, 1.8, 2. ],
       [6.7, 2.5, 5.8, 1.8, 2. ],
       [7.2, 3.6, 6.1, 2.5, 2. ],
       [6.5, 3.2, 5.1, 2. , 2. ],
       [6.4, 2.7, 5.3, 1.9, 2. ],
       [6.8, 3. , 5.5, 2.1, 2. ],
       [5.7, 2.5, 5. , 2. , 2. ],
       [5.8, 2.8, 5.1, 2.4, 2. ],
       [6.4, 3.2, 5.3, 2.3, 2. ],
       [6.5, 3. , 5.5, 1.8, 2. ],
       [7.7, 3.8, 6.7, 2.2, 2. ],
       [7.7, 2.6, 6.9, 2.3, 2. ],
       [6. , 2.2, 5. , 1.5, 2. ],
       [6.9, 3.2, 5.7, 2.3, 2. ],
       [5.6, 2.8, 4.9, 2. , 2. ],
       [7.7, 2.8, 6.7, 2. , 2. ],
       [6.3, 2.7, 4.9, 1.8, 2. ],
       [6.7, 3.3, 5.7, 2.1, 2. ],
       [7.2, 3.2, 6. , 1.8, 2. ],
       [6.2, 2.8, 4.8, 1.8, 2. ],
       [6.1, 3. , 4.9, 1.8, 2. ],
       [6.4, 2.8, 5.6, 2.1, 2. ],
       [7.2, 3. , 5.8, 1.6, 2. ],
       [7.4, 2.8, 6.1, 1.9, 2. ],
       [7.9, 3.8, 6.4, 2. , 2. ],
       [6.4, 2.8, 5.6, 2.2, 2. ],
       [6.3, 2.8, 5.1, 1.5, 2. ],
       [6.1, 2.6, 5.6, 1.4, 2. ],
       [7.7, 3. , 6.1, 2.3, 2. ],
       [6.3, 3.4, 5.6, 2.4, 2. ],
       [6.4, 3.1, 5.5, 1.8, 2. ],
       [6. , 3. , 4.8, 1.8, 2. ],
       [6.9, 3.1, 5.4, 2.1, 2. ],
       [6.7, 3.1, 5.6, 2.4, 2. ],
       [6.9, 3.1, 5.1, 2.3, 2. ],
       [5.8, 2.7, 5.1, 1.9, 2. ],
       [6.8, 3.2, 5.9, 2.3, 2. ],
       [6.7, 3.3, 5.7, 2.5, 2. ],
       [6.7, 3. , 5.2, 2.3, 2. ],
       [6.3, 2.5, 5. , 1.9, 2. ],
       [6.5, 3. , 5.2, 2. , 2. ],
       [6.2, 3.4, 5.4, 2.3, 2. ],
       [5.9, 3. , 5.1, 1.8, 2. ]])

In [41]:
df['sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [42]:
df[['sepal length (cm)','sepal width (cm)']]

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

In [43]:
df['sepal length (cm)'].max()

7.9

In [44]:
df['petal length (cm)'].min()

1.0

In [45]:
df['species'].unique()

array([0, 1, 2])

In [46]:
df['species'].nunique()

3

In [47]:
df['species'].value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [48]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

In [49]:
df.duplicated().sum()

np.int64(1)

In [51]:
df.groupby("species")["sepal length (cm)"].min()

species
0    4.3
1    4.9
2    4.9
Name: sepal length (cm), dtype: float64

In [52]:
df.groupby("species")["petal length (cm)"].max()

species
0    1.9
1    5.1
2    6.9
Name: petal length (cm), dtype: float64

In [53]:
df.groupby("species")["petal length (cm)"].sum()

species
0     73.1
1    213.0
2    277.6
Name: petal length (cm), dtype: float64