task 1:

create a dataframe where it consists of columns like name,dept,salary


filter by department

group by department

In [1]:
import pandas as pd

data = {
    "Name": ["Asha", "Ravi", "Kiran", "Meena", "Arjun", "Priya"],
    "Dept": ["HR", "IT", "IT", "Finance", "HR", "Finance"],
    "Salary": [35000, 60000, 55000, 50000, 40000, 52000]
}

df = pd.DataFrame(data)
print(df)

    Name     Dept  Salary
0   Asha       HR   35000
1   Ravi       IT   60000
2  Kiran       IT   55000
3  Meena  Finance   50000
4  Arjun       HR   40000
5  Priya  Finance   52000

In [2]:
it_employees = df[df["Dept"] == "IT"]
print(it_employees)

    Name Dept  Salary
1   Ravi   IT   60000
2  Kiran   IT   55000

In [3]:
grouped = df.groupby("Dept")["Salary"].mean()
print(grouped)

Dept
Finance    51000.0
HR         37500.0
IT         57500.0
Name: Salary, dtype: float64

task 2:

create a dataframe where the columns like product id,product name,quantity,and price

find the top 5 products based on the total price

In [4]:
products = {
    "Product_ID": [101, 102, 103, 104, 105, 106, 107],
    "Product_Name": ["Laptop", "Mouse", "Keyboard", "Monitor", "Printer", "Tablet", "Headphones"],
    "Quantity": [5, 20, 15, 7, 4, 6, 10],
    "Price": [50000, 500, 1500, 12000, 8000, 20000, 3000]
}

prod_df = pd.DataFrame(products)
print(prod_df)

   Product_ID Product_Name  Quantity  Price
0         101       Laptop         5  50000
1         102        Mouse        20    500
2         103     Keyboard        15   1500
3         104      Monitor         7  12000
4         105      Printer         4   8000
5         106       Tablet         6  20000
6         107   Headphones        10   3000

In [5]:
prod_df["Total_Price"] = prod_df["Quantity"] * prod_df["Price"]

top5 = prod_df.sort_values(by="Total_Price", ascending=False).head(5)
print(top5)

   Product_ID Product_Name  Quantity  Price  Total_Price
0         101       Laptop         5  50000       250000
5         106       Tablet         6  20000       120000
3         104      Monitor         7  12000        84000
4         105      Printer         4   8000        32000
6         107   Headphones        10   3000        30000

task 3:

create a two datasets customer details and order details

merge the two datsets on the basis of customer_id

In [6]:
customers = {
    "Customer_ID": [1, 2, 3, 4],
    "Customer_Name": ["Asha", "Ravi", "Meena", "Kiran"],
    "City": ["Bangalore", "Chennai", "Hyderabad", "Delhi"]
}

cust_df = pd.DataFrame(customers)

In [9]:
cust_df

   Customer_ID Customer_Name       City
0            1          Asha  Bangalore
1            2          Ravi    Chennai
2            3         Meena  Hyderabad
3            4         Kiran      Delhi

In [7]:
orders = {
    "Order_ID": [1001, 1002, 1003, 1004],
    "Customer_ID": [1, 2, 1, 3],
    "Amount": [5000, 7000, 2000, 6500]
}

order_df = pd.DataFrame(orders)

In [10]:
order_df

   Order_ID  Customer_ID  Amount
0      1001            1    5000
1      1002            2    7000
2      1003            1    2000
3      1004            3    6500

In [8]:
merged_df = pd.merge(cust_df, order_df, on="Customer_ID", how="inner")
print(merged_df)

   Customer_ID Customer_Name       City  Order_ID  Amount
0            1          Asha  Bangalore      1001    5000
1            1          Asha  Bangalore      1003    2000
2            2          Ravi    Chennai      1002    7000
3            3         Meena  Hyderabad      1004    6500