1. What is Pandas? What are the important features of Pandas?

Pandas is an open-source Python library used for data analysis, data manipulation, and data cleaning. It is built on top of NumPy and provides powerful data structures to work with structured data such as tables, spreadsheets, and time-series data.

Important features of Pandas:

- Provides two main data structures: Series (1D) and DataFrame (2D).

- Fast and efficient data handling.

- Easy handling of missing data.

- Powerful data filtering, sorting, and grouping functions.

- Supports reading and writing multiple file formats (CSV, Excel, SQL, JSON).

- Provides built-in statistical and aggregation functions.

- Integrates well with visualization libraries like Matplotlib and Seaborn.

2. Difference between Series and DataFrame

| Feature    | Series           | DataFrame                   |
| ---------- | ---------------- | --------------------------- |
| Dimension  | One-dimensional  | Two-dimensional             |
| Structure  | Single column    | Table with rows and columns |
| Data Types | Usually one type | Multiple data types allowed |
| Example    | List of marks    | Complete student record     |

3. How do you handle large datasets efficiently in Pandas?

- Read data in chunks using the chunksize parameter.

- Load only required columns using usecols.

- Use appropriate data types to reduce memory usage.

- Avoid loops and use vectorized operations.

- Use indexing to speed up searching.

- Use libraries like Dask when the dataset is extremely large.


Example:

for chunk in pd.read_csv("data.csv", chunksize=10000):

    process(chunk)

4. How do you optimize memory usage in Pandas?

- Convert data types to smaller types (int64 to int32).

- Use categorical datatype for repeated text values.

- Drop unnecessary columns.

- Delete unused variables.

- Use memory_usage() to monitor memory.

Example:

df["age"] = df["age"].astype("int8")

df["city"] = df["city"].astype("category")

5. Explain the GroupBy method in Pandas

The GroupBy method is used to group data based on one or more columns and perform aggregate operations on those groups.

It follows three steps:

- Split the data into groups.

- Apply a function.

- Combine the results.

Example:

df.groupby("Department")["Salary"].mean()

Common functions used with groupby:

sum()

mean()

count()

max()

min()

6. Difference between loc and iloc

| Feature        | loc                  | iloc           |
| -------------- | -------------------- | -------------- |
| Selection type | Label-based          | Position-based |
| Uses           | Row and column names | Index numbers  |
| Example        | df.loc[0,"Name"]     | df.iloc[0,1]   |

In [ ]:
import sqlite3

In [ ]:
x=sqlite3.connect(":memory:")

In [ ]:
x.execute("""
create table employees(
id integer primary key,
name text,
Address text,
Location text
)""")

In [ ]:
x.executemany("""
insert into employees(id,name,Address,Location)values(?,?,?,?)""",[
    (1010,'Ajay','Opposite bustop','Vijayawada'),
    (1011,'Kavya','beside lulu mall','Hyderabad'),
    (1012,'Gireesh','oppsoite alpha hotel','Guntur'),
    (1013,'Pushpendra','Marathamalli','Banglore')
])

In [ ]:
x.commit()

In [ ]:
df=pd.read_sql_query("select * from employees",x)

In [ ]:
df

     id        name               Address    Location
0  1010        Ajay       Opposite bustop  Vijayawada
1  1011       Kavya      beside lulu mall   Hyderabad
2  1012     Gireesh  oppsoite alpha hotel      Guntur
3  1013  Pushpendra          Marathamalli    Banglore

7. Connect SQL Server to Pandas and display data

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("All libraries working")

All libraries working

In [ ]:
!pip install pymysql

Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
import sys
print(sys.executable)

C:\Users\Kavyashree N\anaconda3\python.exe

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine(
    "mysql+pymysql://root:Kn%40180597@localhost/companydb"
)

In [ ]:
df = pd.read_sql("SELECT * FROM employees", engine)
df

     id        name               address    location
0  1010        Ajay     Opposite bus stop  Vijayawada
1  1011       Kavya      Beside Lulu Mall   Hyderabad
2  1012     Gireesh  Opposite Alpha Hotel      Guntur
3  1013  Pushpendra          Marathahalli   Bangalore

8. Take a dataset from Kaggle and connect it to Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Employee_Salary_Dataset.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                35 non-null     int64
 1   Experience_Years  35 non-null     int64
 2   Age               35 non-null     int64
 3   Gender            35 non-null     object
 4   Salary            35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

In [ ]:
df.head()

   ID  Experience_Years  Age  Gender  Salary
0   1                 5   28  Female  250000
1   2                 1   21    Male   50000
2   3                 3   23  Female  170000
3   4                 2   22    Male   25000
4   5                 1   17    Male   10000

9. Create an Excel file and connect it to Pandas

life cycle of data analyst:
Business understanding
data collection(csv,excel,sql,json)
data preprocessing/data preparation(df.head())
data cleaning(null values,duplicates,wrong data,wrong format)
exploratory data analysis(insights--data vizualization)

Business problem:
An e-commerce company:
total revenue
top 5 products
daily trends
monthly sales
customer segmentation
high valued customers
regional performance

working on the role of data analyst

product id
product name
product category
region
customer id
price
quantity
date
order id

In [ ]:
import pandas as pd
import numpy as np

# Set seed so results stay same every time
np.random.seed(42)

# Sample data lists
customers = ["Ajay","Kavya","Ravi","Meena","Arjun","Divya","Rahul","Sneha"]
regions = ["North","South","East","West"]
products = ["Laptop","Mobile","Keyboard","Mouse","Headphones","Monitor"]

# Create 30 rows of data
data = {
    "Order_ID": np.arange(1001, 1031),
    #"Order_Date": pd.date_range(start="2024-01-01", periods=30, freq="D"),
    "Order_Date": pd.date_range(start="2024-01-01", periods=30, freq="D").strftime("%Y-%m-%d"),
    "Customer_Name": np.random.choice(customers, 30),
    "Region": np.random.choice(regions, 30),
    "Product_Name": np.random.choice(products, 30),
    "Quantity": np.random.randint(1, 5, 30),
    "Price": np.random.randint(500, 50000, 30)
}

df = pd.DataFrame(data)

# Create Revenue column
df["Revenue"] = df["Quantity"] * df["Price"]

# Save to Excel
df.to_excel("ecommerce_sales.xlsx", index=False)

print("Excel file created successfully with 30 rows!")
df.head()

Excel file created successfully with 30 rows!

,Order_ID,Order_Date,Customer_Name,Region,Product_Name,Quantity,Price,Revenue
0,1001,2024-01-01,Rahul,North,Keyboard,4,21743,86972
1,1002,2024-01-02,Meena,North,Headphones,2,39599,79198
2,1003,2024-01-03,Arjun,West,Laptop,1,9071,9071
3,1004,2024-01-04,Rahul,South,Mobile,3,40476,121428
4,1005,2024-01-05,Ravi,South,Mouse,2,38544,77088

In [ ]:
df=pd.read_excel("ecommerce_sales.xlsx")

In [ ]:
df

,Order_ID,Order_Date,Customer_Name,Region,Product_Name,Quantity,Price,Revenue
0,1001,2024-01-01,Rahul,North,Keyboard,4,21743,86972
1,1002,2024-01-02,Meena,North,Headphones,2,39599,79198
2,1003,2024-01-03,Arjun,West,Laptop,1,9071,9071
3,1004,2024-01-04,Rahul,South,Mobile,3,40476,121428
4,1005,2024-01-05,Ravi,South,Mouse,2,38544,77088
5,1006,2024-01-06,Sneha,North,Laptop,2,49716,99432
6,1007,2024-01-07,Arjun,West,Mouse,4,49484,197936
7,1008,2024-01-08,Arjun,North,Monitor,2,41274,82548
8,1009,2024-01-09,Rahul,North,Mobile,2,3068,6136
9,1010,2024-01-10,Kavya,East,Mobile,2,2527,5054
10,1011,2024-01-11,Ravi,East,Laptop,4,3195,12780
11,1012,2024-01-12,Rahul,East,Mobile,2,48690,97380
12,1013,2024-01-13,Ravi,South,Headphones,3,5758,17274
13,1014,2024-01-14,Ravi,West,Mobile,4,22502,90008
14,1015,2024-01-15,Sneha,West,Mouse,3,40004,120012
15,1016,2024-01-16,Arjun,West,Mouse,4,33659,134636
16,1017,2024-01-17,Meena,West,Mouse,2,14486,28972
17,1018,2024-01-18,Sneha,East,Mouse,3,13166,39498
18,1019,2024-01-19,Sneha,South,Headphones,4,39160,156640
19,1020,2024-01-20,Ravi,South,Keyboard,1,4061,4061
20,1021,2024-01-21,Divya,East,Monitor,2,27354,54708
21,1022,2024-01-22,Arjun,South,Laptop,4,39452,157808
22,1023,2024-01-23,Kavya,East,Mouse,1,23162,23162
23,1024,2024-01-24,Sneha,West,Mobile,4,8892,35568
24,1025,2024-01-25,Meena,East,Mouse,1,31035,31035
25,1026,2024-01-26,Divya,West,Mobile,2,13567,27134
26,1027,2024-01-27,Divya,West,Monitor,3,48533,145599
27,1028,2024-01-28,Kavya,North,Monitor,1,24099,24099
28,1029,2024-01-29,Sneha,East,Monitor,4,35722,142888
29,1030,2024-01-30,Meena,North,Mobile,2,12337,24674

In [ ]:
#Total Revenue
total_revenue = df["Revenue"].sum()
print(total_revenue)

2132799

In [ ]:
#Top 5 Products
top_products = df.groupby("Product_Name")["Revenue"].sum().sort_values(ascending=False).head(5)
print(top_products)

Product_Name
Mouse         652339
Monitor       449842
Mobile        407382
Laptop        279091
Headphones    253112
Name: Revenue, dtype: int32

In [ ]:
#Daily Trends
df["Order_Date"] = pd.to_datetime(df["Order_Date"])

daily_sales = df.groupby("Order_Date")["Revenue"].sum()
print(daily_sales)

Order_Date
2024-01-01     86972
2024-01-02     79198
2024-01-03      9071
2024-01-04    121428
2024-01-05     77088
2024-01-06     99432
2024-01-07    197936
2024-01-08     82548
2024-01-09      6136
2024-01-10      5054
2024-01-11     12780
2024-01-12     97380
2024-01-13     17274
2024-01-14     90008
2024-01-15    120012
2024-01-16    134636
2024-01-17     28972
2024-01-18     39498
2024-01-19    156640
2024-01-20      4061
2024-01-21     54708
2024-01-22    157808
2024-01-23     23162
2024-01-24     35568
2024-01-25     31035
2024-01-26     27134
2024-01-27    145599
2024-01-28     24099
2024-01-29    142888
2024-01-30     24674
Name: Revenue, dtype: int32

In [ ]:
#Monthly Sales
monthly_sales = df.groupby(df["Order_Date"].dt.to_period("M"))["Revenue"].sum()
print(monthly_sales)

Order_Date
2024-01    2132799
Freq: M, Name: Revenue, dtype: int32

In [ ]:
#Customer Segmentation

#Based on total spending:

customer_sales = df.groupby("Customer_Name")["Revenue"].sum()

print(customer_sales)

Customer_Name
Arjun    581999
Divya    227441
Kavya     52315
Meena    163879
Rahul    311916
Ravi     201211
Sneha    594038
Name: Revenue, dtype: int32

In [ ]:
#High Value Customers
high_value = customer_sales[customer_sales > 50000]
print(high_value)

Customer_Name
Arjun    581999
Divya    227441
Kavya     52315
Meena    163879
Rahul    311916
Ravi     201211
Sneha    594038
Name: Revenue, dtype: int32

In [ ]:
#Regional Performance
regional_sales = df.groupby("Region")["Revenue"].sum()
print(regional_sales)

Region
East     406505
North    403059
South    534299
West     788936
Name: Revenue, dtype: int32

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
x=np.array([1,2,3,4,5])
y=pd.Series(x)

In [ ]:
print(y)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
y[0]

np.int64(1)

In [ ]:
y[2]

np.int64(3)

In [ ]:
y[0]+y[3]

np.int64(5)

In [ ]:
y[3]-y[1]

np.int64(2)

series methods:
- series.shape:it is used to find the shape of the series

- series.ndim:it is used to find the number of dimensions in the series

- series.index:it is used to find the range of the series

- series.size:it is used to find the size of the series

- series.dtype:it is the method used to find the data type of the series

In [ ]:
a=np.array([35,42,78,67,92])
b=pd.Series(a)

In [ ]:
print(b)

0    35
1    42
2    78
3    67
4    92
dtype: int64

In [ ]:
b.shape

(5,)

In [ ]:
b.size

5

In [ ]:
b.ndim

1

In [ ]:
b.dtype

dtype('int64')

In [ ]:
b.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
a=pd.Series([95,98,87,82,78],index=['English','sanskrit','Maths','Science','Social'])
print(a)

English     95
sanskrit    98
Maths       87
Science     82
Social      78
dtype: int64

In [ ]:
sort1=a.sort_values(ascending=False)

In [ ]:
sort1

sanskrit    98
English     95
Maths       87
Science     82
Social      78
dtype: int64

In [ ]:
data={"Name":"Tab","designation":"Lead data scientist"}

In [ ]:
data

{'Name': 'Tab', 'designation': 'Lead data scientist'}

In [ ]:
type(data)

dict

In [ ]:
info={
    "Name":["shreya","swapna","Kaveri","gayathri","kavya"],
    "Age":[37,33,31,36,35],
    "Location":["Hyderabad","Banglore","Indore","Chennai","Noida"]
}

In [ ]:
df=pd.DataFrame(info)

In [ ]:
df

       Name  Age   Location
0    shreya   37  Hyderabad
1    swapna   33   Banglore
2    Kaveri   31     Indore
3  gayathri   36    Chennai
4     kavya   35      Noida

In [ ]:
df['Name'].loc[0]

'shreya'

In [ ]:
df['Age'].loc[4]

np.int64(35)

In [ ]:
df['Location'].loc[3]

'Chennai'

In [ ]:
df.iloc[0]

Name           shreya
Age                37
Location    Hyderabad
Name: 0, dtype: object

In [ ]:
df.iloc[4]

Name        kavya
Age            35
Location    Noida
Name: 4, dtype: object

In [ ]:
df.ndim

2

In [ ]:
df.shape

(5, 3)

In [ ]:
df.size

15

In [ ]:
df['Name'].dtype

dtype('O')

In [ ]:
df['Age'].dtype

dtype('int64')

In [ ]:
df['Location'].dtype

dtype('O')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Age       5 non-null      int64
 2   Location  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes