Task:

you need to add columns like:

customer id

order id

gender

age

city

product name

product category,

quantity

price

order date

1.remove duplicates orders(order_id)

2.fix the gender column m---male,
f--female

3.handle age issues

4.fill the missing values on the city column by using mode

5.standardize product category

6.convert order date to datetime

7.extract month names

8.extract day names

9.rename columns to lowercase

total revenue

top cities by sales

category wise sales

In [22]:
import pandas as pd
import numpy as np

# STEP 1: Create Dataset
data = {
    "Customer_ID": [1,2,3,4,5,6,2,3],
    "Order_ID": [101,102,103,104,105,106,102,103],
    "Gender": ["M","F","m","f","Male","Female","M","F"],
    "Age": [25, -5, 200, 35, np.nan, 28, 30, 22],
    "City": ["Bangalore","Chennai",None,"Delhi","Delhi",None,"Chennai","Mumbai"],
    "Product_Name": ["Laptop","Mouse","Keyboard","Laptop","Tablet","Mouse","Keyboard","Laptop"],
    "Product_Category": ["Electronics","electronics","Electronics","ELEC","electronics","Electronics","ELEC","electronics"],
    "Quantity": [1,2,1,3,2,5,1,2],
    "Price": [50000,500,1500,50000,20000,500,1500,50000],
    "Order_Date": ["2024-01-05","2024-02-10","2024-03-15","2024-01-20","2024-04-01","2024-02-25","2024-03-15","2024-01-05"]
}

df = pd.DataFrame(data)

print("DATA BEFORE CLEANING:\n")
print(df)
print("\n")

# STEP 2: Remove duplicates (IMPORTANT .copy() to avoid warnings)
df = df.drop_duplicates(subset="Order_ID").copy()

# STEP 3: Fix Gender
df["Gender"] = df["Gender"].str.lower()
df["Gender"] = df["Gender"].replace({"m":"male","f":"female"})

# STEP 4: Handle Age Issues
df.loc[(df["Age"] < 0) | (df["Age"] > 100), "Age"] = np.nan
df["Age"].fillna(df["Age"].median(), inplace=True)

# STEP 5: Fill Missing City using Mode
df["City"].fillna(df["City"].mode()[0], inplace=True)

# STEP 6: Standardize Category
df["Product_Category"] = df["Product_Category"].str.lower()
df["Product_Category"] = df["Product_Category"].replace({"elec":"electronics"})

# STEP 7: Convert to Datetime
df["Order_Date"] = pd.to_datetime(df["Order_Date"], errors="coerce")

# STEP 8: Extract Month & Day
df["Month"] = df["Order_Date"].dt.month_name()
df["Day"] = df["Order_Date"].dt.day_name()

# STEP 9: Rename columns to lowercase
df.columns = df.columns.str.lower()

# STEP 10: Total Revenue column
df["total_price"] = df["quantity"] * df["price"]

# STEP 11: Business Insights
total_revenue = df["total_price"].sum()
top_cities = df.groupby("city")["total_price"].sum().sort_values(ascending=False)
category_sales = df.groupby("product_category")["total_price"].sum()

# STEP 12: Display Results
print("Cleaned Data:\n")
print(df)

print("\nTotal Revenue:", total_revenue)

print("\nTop Cities by Sales:\n")
print(top_cities)

print("\nCategory Wise Sales:\n")
print(category_sales)

DATA BEFORE CLEANING:

   Customer_ID  Order_ID  Gender    Age       City Product_Name  \
0            1       101       M   25.0  Bangalore       Laptop
1            2       102       F   -5.0    Chennai        Mouse
2            3       103       m  200.0       None     Keyboard
3            4       104       f   35.0      Delhi       Laptop
4            5       105    Male    NaN      Delhi       Tablet
5            6       106  Female   28.0       None        Mouse
6            2       102       M   30.0    Chennai     Keyboard
7            3       103       F   22.0     Mumbai       Laptop

  Product_Category  Quantity  Price  Order_Date
0      Electronics         1  50000  2024-01-05
1      electronics         2    500  2024-02-10
2      Electronics         1   1500  2024-03-15
3             ELEC         3  50000  2024-01-20
4      electronics         2  20000  2024-04-01
5      Electronics         5    500  2024-02-25
6             ELEC         1   1500  2024-03-15
7      electronics         2  50000  2024-01-05


Cleaned Data:

   customer_id  order_id  gender   age       city product_name  \
0            1       101    male  25.0  Bangalore       Laptop
1            2       102  female  28.0    Chennai        Mouse
2            3       103    male  28.0      Delhi     Keyboard
3            4       104  female  35.0      Delhi       Laptop
4            5       105    male  28.0      Delhi       Tablet
5            6       106  female  28.0      Delhi        Mouse

  product_category  quantity  price order_date     month       day  \
0      electronics         1  50000 2024-01-05   January    Friday
1      electronics         2    500 2024-02-10  February  Saturday
2      electronics         1   1500 2024-03-15     March    Friday
3      electronics         3  50000 2024-01-20   January  Saturday
4      electronics         2  20000 2024-04-01     April    Monday
5      electronics         5    500 2024-02-25  February    Sunday

   total_price
0        50000
1         1000
2         1500
3       150000
4        40000
5         2500

Total Revenue: 245000

Top Cities by Sales:

city
Delhi        194000
Bangalore     50000
Chennai        1000
Name: total_price, dtype: int64

Category Wise Sales:

product_category
electronics    245000
Name: total_price, dtype: int64

/tmp/ipython-input-634169834.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)
/tmp/ipython-input-634169834.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["City"].fillna(df["City"].mode()[0], inplace=True)

In [1]:
import pandas as pd
import numpy as np

data = {
    "Customer_ID": [1,2,3,4,5,6,2,3],
    "Order_ID": [101,102,103,104,105,106,102,103],
    "Gender": ["M","F","m","f","Male","Female","M","F"],
    "Age": [25, -5, 200, 35, np.nan, 28, 30, 22],
    "City": ["Bangalore","Chennai",None,"Delhi","Delhi",None,"Chennai","Mumbai"],
    "Product_Name": ["Laptop","Mouse","Keyboard","Laptop","Tablet","Mouse","Keyboard","Laptop"],
    "Product_Category": ["Electronics","electronics","Electronics","ELEC","electronics","Electronics","ELEC","electronics"],
    "Quantity": [1,2,1,3,2,5,1,2],
    "Price": [50000,500,1500,50000,20000,500,1500,50000],
    "Order_Date": ["2024-01-05","2024-02-10","2024-03-15","2024-01-20","2024-04-01","2024-02-25","2024-03-15","2024-01-05"]
}

df = pd.DataFrame(data)
df

,Customer_ID,Order_ID,Gender,Age,City,Product_Name,Product_Category,Quantity,Price,Order_Date
0,1,101,M,25.0,Bangalore,Laptop,Electronics,1,50000,2024-01-05
1,2,102,F,-5.0,Chennai,Mouse,electronics,2,500,2024-02-10
2,3,103,m,200.0,None,Keyboard,Electronics,1,1500,2024-03-15
3,4,104,f,35.0,Delhi,Laptop,ELEC,3,50000,2024-01-20
4,5,105,Male,NaN,Delhi,Tablet,electronics,2,20000,2024-04-01
5,6,106,Female,28.0,None,Mouse,Electronics,5,500,2024-02-25
6,2,102,M,30.0,Chennai,Keyboard,ELEC,1,1500,2024-03-15
7,3,103,F,22.0,Mumbai,Laptop,electronics,2,50000,2024-01-05

In [2]:
df = df.drop_duplicates(subset="Order_ID")

In [3]:
df["Gender"] = df["Gender"].str.lower()

df["Gender"] = df["Gender"].replace({
    "m": "male",
    "f": "female"
})

/tmp/ipython-input-4128421267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"] = df["Gender"].str.lower()
/tmp/ipython-input-4128421267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"] = df["Gender"].replace({

In [4]:
df.loc[(df["Age"] < 0) | (df["Age"] > 100), "Age"] = np.nan
df["Age"].fillna(df["Age"].median(), inplace=True)

/tmp/ipython-input-419776760.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)
/tmp/ipython-input-419776760.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"].fillna(df["Age"].median(), inplace=True)

In [5]:
df["City"].fillna(df["City"].mode()[0], inplace=True)

/tmp/ipython-input-442806574.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["City"].fillna(df["City"].mode()[0], inplace=True)
/tmp/ipython-input-442806574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["City"].fillna(df["City"].mode()[0], inplace=True)

In [6]:
df["Product_Category"] = df["Product_Category"].str.lower()
df["Product_Category"] = df["Product_Category"].replace({
    "elec": "electronics"
})

/tmp/ipython-input-1554190474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Product_Category"] = df["Product_Category"].str.lower()
/tmp/ipython-input-1554190474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Product_Category"] = df["Product_Category"].replace({

In [7]:
df["Order_Date"] = pd.to_datetime(df["Order_Date"])

/tmp/ipython-input-3641458714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Order_Date"] = pd.to_datetime(df["Order_Date"])

In [8]:
df["Month"] = df["Order_Date"].dt.month_name()

/tmp/ipython-input-509459079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = df["Order_Date"].dt.month_name()

In [9]:
df["Day"] = df["Order_Date"].dt.day_name()

/tmp/ipython-input-3948096663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Day"] = df["Order_Date"].dt.day_name()

In [10]:
df.columns = df.columns.str.lower()

In [11]:
df["total_price"] = df["quantity"] * df["price"]

total_revenue = df["total_price"].sum()
print("Total Revenue:", total_revenue)

Total Revenue: 245000

/tmp/ipython-input-1026564101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["total_price"] = df["quantity"] * df["price"]

In [12]:
top_cities = df.groupby("city")["total_price"].sum().sort_values(ascending=False)
print(top_cities)

city
Delhi        194000
Bangalore     50000
Chennai        1000
Name: total_price, dtype: int64

In [13]:
category_sales = df.groupby("product_category")["total_price"].sum()
print(category_sales)

product_category
electronics    245000
Name: total_price, dtype: int64

CLeaned data

In [15]:
df

,customer_id,order_id,gender,age,city,product_name,product_category,quantity,price,order_date,month,day,total_price
0,1,101,male,25.0,Bangalore,Laptop,electronics,1,50000,2024-01-05,January,Friday,50000
1,2,102,female,28.0,Chennai,Mouse,electronics,2,500,2024-02-10,February,Saturday,1000
2,3,103,male,28.0,Delhi,Keyboard,electronics,1,1500,2024-03-15,March,Friday,1500
3,4,104,female,35.0,Delhi,Laptop,electronics,3,50000,2024-01-20,January,Saturday,150000
4,5,105,male,28.0,Delhi,Tablet,electronics,2,20000,2024-04-01,April,Monday,40000
5,6,106,female,28.0,Delhi,Mouse,electronics,5,500,2024-02-25,February,Sunday,2500